imports:
    - { resource: vendor/drupol/php-conventions/config/php71/grumphp.yml }

parameters:
    process_timeout: 600
    extra_tasks:
        psalm: ~
        phpspec:
            verbose: true
            metadata:
                priority: 3000
        infection:
            threads: 10
            test_framework: phpspec
            configuration: infection.json.dist
            min_msi: 50
            min_covered_msi: 50
            metadata:
                priority: 2000

